body {
    background-color: black;
    margin: 0;
    display: flex;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.5s ease;
}

img:hover {
    cursor: pointer;
    transform: rotateY(180deg);
}

div img {
    max-width: 100%;
    max-height: 100%;
}

.cards {
    display: flex;
    width: 70%;
    height: 100%;
}

.score {
    width: 30%;
    background-color: rgb(188, 86, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 8px;
}

.card {
    display: inline-block;
    border-radius: 15px;
    background-color: white;
    margin: 8px;
}
